In [ ]:

CREATE TABLE livre ( id INTEGER PRIMARY KEY, name TEXT, rating INTEGER); # cr√©er une table pour stocker
INSERT INTO livre VALUES (1, "lol",2); # ajoute dans la table des livres
INSERT INTO livre VALUES (2,"bgs",4);# ajoute dans la table des livres
INSERT INTO livre VALUES (3,"kljj",5);# ajoute dans la table des livres
SELECT * FROM livre# faire apparaitre tout sous la forme d'un tableau de liste

### TOUT DOIT ETRE EN MAJ

In [ ]:
SUM(minutes) FROM todo_list # fais la somme de la tache minutes

In [ ]:
MAX(minutes) FROM todo_list # donne le maximum de la tache minutes

In [ ]:
CREATE TABLE magasin( id INTEGER, name TEXT, prix TEXT, taille TEXT, poids INTEGER);
INSERT INTO magasin VALUES (1, "baka", 5, 40, 2);
INSERT INTO magasin VALUES (2, "baptiste", 2, 1.58, 255);
INSERT INTO magasin VALUES (3, "bebou", 69, 1.82, 58);
INSERT INTO magasin VALUES (4, "ivan", 6, 1.65, 52);
INSERT INTO magasin VALUES (5, "le_m", 0, 1.84, 800);
INSERT INTO magasin VALUES (6, "elliot", 86, 1.86, 66);