Exercice 2:

1-a) Il y a Ali Mohamed et Alonso Fernando 

b) C'est Kane Harry qui ne propose pas d'objet à la location

2-a) Les résultats de la requète est:

|nom|prenom|
|:-:|:-:|
|Dupont|Antoine|
|Kane|Harry|

b) SELECT tarif FROM Objet

WHERE description="Scie circulaire";

c) UPDATE Objet set tarif = 15 

WHERE description = "Nettoyeur haute pression";

d) INSERT INTO Membre VALUES :

(6,"Renard","Wendie","69003");

3-a) La clé primaire ne permet pas d'avoir de doublon. Donc il ne doit pas avoir de différentes clé primaire sur la même table.

b) Car cela ne supprimera Mohammed Ali des autres tables et cela créera une erreur car ces produits seront toujours disponible. Et car il peut y avoir d'autre utilisateurs qui s'appele Mohammed Ali

c) DELETE FROM Membre 

JOIN Reservation ON Reservation.id_membre = Membre.id_membre

JOIN Possede ON Possede.id_membre = Membre.id_membre

WHERE id_membre = 1;

4-a)