## SQL

### <font color ='red'> Création du SQL </font>

In [ ]:
CREATE TABLE LIVRES
    (id INT, titre TEXT, auteur TEXT, ann_publi INT, note INT, PRIMARY KEY (id));

Ceci va créer une table qui aura pour nom LIVRES et plusieurs attributs comme id, titre, auteur, ann_publi, note. Pour créer ces attributs nous avons précisé leur domaine. 

Il existe plusieurs domaines: 
- Pour id, ann_publi, note nous leur avons mis le domaine INT qui correspond à un entier
- Pour titre, auteur nous leur avons mis le domaine TEXT qui correspond à une chaine de caractères

Nous avons rajouté a id le rôle de clé primaire (PRIMARY KEY (id)). La clé primaire permet d'identifier chaque enregistrement dans une table de base de données. Et ne permet pas d'avoir des valeurs en doubles  

#### Point Important en SQL il  faut que tout soit écrit en MAJUSCULE (hors les noms qu'ont donne aux attributs) et à chaque fin d'instruction il faut mettre une ;

### <font color='red'> Ajouter des données </font>

In [ ]:
INSERT INTO LIVRES
    (id,titre,auteur,ann_publi,note)
    VALUES
    (1,'1984','Orwell',1949,10);

Grâce à l'instruction suivante nous allons ajouter des données aux attributs de la table LIVRES. Dans l'exemple ci-contre on ajoute:
- à l'attribut id la valeur de 1 
- à l'attribut titre la valeur 1984 qui doit être compris entre '' car son domaine est chaine de caractère
- à l'attribut auteur la valeur Orwell qui doit être compris entre '' car son domaine est chaine de caractère
- à l'attribut ann_publi la valeur 1949 
- à l'attribut note la valeur 10 

Et une fois fini on a mis une ; pour annoncer qu'on avit fini d'ajouter des données à la table LIVRES 

On peut encore en ajouter mais cela ressemblera à cela:

In [ ]:
INSERT INTO LIVRES
    (id,titre,auteur,ann_publi,note)
    VALUES
    (1,'1984','Orwell',1949,10),
    (2,'Dune','Herbert',1965,8);

### <font color='red'> Faire apparaitre la Table LIVRES </font>

In [ ]:
SELECT id, titre, auteur, ann_publi, note
FROM LIVRES

Grâce à cet instruction on sélectionne les attributs de la table LIVRES et cela les fait apparaîtres dans un tableau où on ils apparaissent.

Mais on peut aussi choisir si l'on veut faire apparaitre que les id ou que le tritre, etc. Pour ce faire dans SELECT il suffit retirer l'attribut en question.

In [ ]:
SELECT titre, ann_publi
FROM LIVRES
WHERE auteur='Asimov'

Cet instruction va sélectionner les attributs titre, ann_publi de la table LIVRES 

Grâce à l'instruction WHERE on limite les attributs que l'on veut faire apparaitre à ceux dont la donnée à l'attributs auteurs est 'Asimov'.

In [ ]:
SELECT titre, ann_publi
FROM LIVRES
WHERE auteur='Asimov' AND ann_publi>1953

A la suite de l'instruction WHERE on rajoute l'instruction AND pour spécifier encore plus les attributs que l'on veut faire apparaitre. 

Dans cet exemple on va obtenir les livres écrit par Asimov après 1953

In [ ]:
SELECT titre
FROM LIVRES
WHERE auteur='K.Dick' ORDER BY ann_publi

Dans cet exemple on a rajouté ORDER BY qui va permettre de trier de façon croissante par rapport aux domaines dont on veut. Cela va donner:

SELECT domaine 

FROM nom_table

WHERE domaine (qques chose) ORDER BY domaine

### <font color='red'> Création TABLE </font>

In [ ]:
CREATE TABLE AUTEURS
(id INT, nom TEXT, prenom TEXT, ann_naissance INT, langue_ecriture TEXT, PRIMARY KEY (id));

In [ ]:
CREATE TABLE LIVRES
(id INT, titre TEXT, id_auteur INT, ann_publi INT, note INT, PRIMARY KEY (id), FOREIGN KEY (id_auteur) REFERENCES AUTEURS(id));

Dans cet exemple on créait une première TABLE que l'on nomme AUTEURS. Après on créait une deuxième TABLE que l'on nomme LIVRES.

Dans cette deuxième TABLE on crée plusieurs attributs. L'attribut id_auteur va servir de liaison entre id_auteur de la TABLE LIVRES avec id de la TABLE AUTEURS, grâce au domaine:
- FOREIGN KEY(id_auteur) REFERENCES AUTEURS(id)

In [ ]:
SELECT titre,nom, prenom
FROM LIVRES
INNER JOIN AUTEURS ON LIVRES.id_auteur = AUTEURS.id

La commande INNER JOIN AUTEURS ON LIVRES.id_auteurs = AUTEURS.id

va lier les deux TABLES entre elle car id_auteur est lié avec id lors de la création des deux TABLES