
CREATE TABLE livre ( id INTEGER PRIMARY KEY, name TEXT, rating INTEGER); # créer une table pour stocker

INSERT INTO livre VALUES (1, "lol",2); # ajoute dans la table des livres

INSERT INTO livre VALUES (2,"bgs",4);# ajoute dans la table des livres

INSERT INTO livre VALUES (3,"kljj",5);# ajoute dans la table des livres

SELECT * FROM livre# faire apparaitre tout sous la forme d'un tableau de liste

### TOUT DOIT ETRE EN MAJ

SUM(minutes) FROM todo_list # fais la somme de la tache minutes

MAX(minutes) FROM todo_list # donne le maximum de la tache minutes

INTEGER = un chiffre 

TEXT = un texte qui doit être compris entre deux "

CREATE TABLE magasin( id INTEGER, name TEXT, prix INTEGER, taille INTEGER, poids INTEGER);

INSERT INTO magasin VALUES (1, "baka", 5, 40, 2);

INSERT INTO magasin VALUES (2, "baptiste", 2, 1.58, 255);

INSERT INTO magasin VALUES (3, "bebou", 69, 1.82, 58);

INSERT INTO magasin VALUES (4, "ivan", 6, 1.65, 52);

INSERT INTO magasin VALUES (5, "le_m", 0, 1.84, 800);

INSERT INTO magasin VALUES (6, "elliot", 86, 1.86, 66);

SELECT * FROM movies WHERE release_year>2000 ORDER BY release_year;

ici on va sélectionner tous dans movies et on va lui demander de ne garder que ceux >2000 et de les ranger en fonction de release_year

### Mots de vocabulaire important apporté grâce a Manuel Terminale NSI

- table = relation
-  CREATE TABLE LIVRES -> nouvelle table nommée "LIVRES".

attributs